# .env 
# Пользователь под которым будет выполнятся действие.
export MIKROTIK_USER=connection_user
export MIKROTIK_PASSWORD="password"

# Пароль для ansible_users
export ANSIBLE_USER_PASSWORD="new_password"

# Кому меняем пароль
export USER_CHANGE_PASSWORD=user-for-change-password
