[defaults]
host_key_checking = False
timeout = 30
stdout_callback = debug
# Скрывать вывод задач с no_log
display_failed_stderr = false

# Включаем поиск переменных окружения
[inventory]
enable_plugins = host_list, script, auto, yaml, ini, env
